body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #212121;
    background-image: url(background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-blend-mode:lightens ;
}

.container {
    text-align: center;
    font-size: 1.1rem;
    background-color: #ffffff;
    opacity: 0.9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 12px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #8591f5, #426488);
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #1E90FF;
    font-weight: bold;
}
